html,
body {
  margin: 0;
  padding: 0;
  border: 0;
} 

/*header info*/

header {
  display: grid;
  grid-area: header;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #ABC8D9;
}

.logo{
    height: 100px;
}

.title {
    text-align: center;
    font-size: 210%;
}

.h1-center {
    text-align: center;
    font-size: 250%;
}

.h2-center {
    text-align: center;
    font-size: 175%;
}

.ppp {
    font-size: 75%;
}

.logo{
  height: 100px;
}

.header-left {
  display: flex;
  padding: 0 20px;
  cursor: pointer;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: black; /* edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* hamburger icon */
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* X/close icon */
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav-collapse li {
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: black;
}

.nav-collapse a {
  text-decoration: none;
  padding: 0.7em 1em;
  color: black;
  width: 100%;
  display: block;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

/*welcome info*/

.header_image{
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  border-bottom: 500px;
}

.header_photo{
  height: 300px;
  width: 100%;
}

#picture {
  background-image: url('/imgs/sunset.jpg');
  background-repeat: none;
  background-size: 100% 100%;
}

.main_title{
  display: flex;
  justify-content: center;
  transform: translate(0,49%);
}

.title_info{
  color: white;
  font-size: 4rem;
}

#title{
  display: flex;
  justify-content: center;
  color: white;
}

.questions{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 200%;
    color: black;
}

.decor{
  text-decoration: none;
  color: black;
}

#one{
  color: black;
}

#one:hover{
  text-decoration: underline;
}
#two:hover{
  text-decoration: underline;
}
#three:hover{
  text-decoration: underline;
}

.answer{
  font-size: 75%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

/*form info*/

#name, #email {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.form {
  display: grid;
  grid-area: form;
  background-color: white;
  margin: 20px;
  padding: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}

.form input:focus {
  border-color: black;
  outline: none;
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 15px #D83F31;
box-shadow: inset 0 3px 3px rgba(0,0,0,.075), 0 0 3px #D83F31;
}

.color-transition {
  background-image: linear-gradient(90deg, grey 0%, #ABC8D9 30%);
  border: none;
  width: 100.7%;
  padding: 10px;
  height: 40px;
  background-size: 200% 100%;
  background-position: 0 0; 
  transition: background-position 0.7s;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.color-transition:hover {
  background-position: 100% 0; 
}


/*footer info*/

footer{
  display: grid;
  grid-area: footer;
  background-color: #ABC8D9;
}

.footertext{
  margin-left: 20px;
}

@media screen and (min-width: 915px) {

/*header info*/
  .nav-collapse ul {
  flex-direction: row;
  justify-content: center;
  margin-right: 50px;
}

  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin-right: 10px;
    font-weight: bold;
  }

  .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  /*main info*/

  main{
    display: flex;
    flex-direction: row;
  }

  .welcome{
    width: 40%;
    margin: auto;
    margin-top: 20px; 
    margin-bottom: 10px; 
    margin-left: 20px;
    padding: 60px;
  }

  .welcome p{
    margin-top: 10px;
    margin-bottom: -20px;
  }

  .button1{
    margin-top: 35px;
  }

  .form{
    width: 60%;
  }

  /*picture info*/

  .pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 90px;
    margin-right: 90px;
  }
  
  /*.column {
    height: 300px;
    width: calc(33.33% - 10px);
  }*/

  .column{
    height: 0;
    background-size: cover;
    padding-top: 30%;
    margin: 10px;
  }
}
